@use '../../../styles/abstracts' as *;

.header-container {
  background-color: $color-blue-primary-dark !important;
  color: $color-gray-light;
  box-shadow: none;
  text-align: center;
}

.header-toolbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  min-height: 64px;
  background-color: none !important;
}

.header-left {
  display: flex;
  align-items: center;
  width: 100%;
}

.header-logo-button {
  margin-right: 0.75rem;
  padding: 0.25rem;
  & .header-logo {
    width: 32px;
    height: 32px;
    fill: $color-gray-light;
  }
}

.header-title {
  font-family: $main-font;
  font-size: 1.5rem;
  color: $color-gray-light;
  margin: 0;
  width: 100%;
}

.header-right {
  display: none !important;
  align-items: center;
  gap: 1rem;
}

@media print {
  .header-container,
  .header-toolbar,
  .header-left,
  .header-right {
    display: none !important;
  }
}
