@use '../../../../../styles/abstracts/' as *;

.scale-root {
    padding: 2rem 1rem;
    // background-color: $color-bg-light;
    min-height: 100vh;
}

.scale-title {
    font-family: $main-font;
    color: $color-blue-primary-dark;
    margin-top: 2rem;
}

.scale-explanation {
    font-family: $main-font;
    color: $color-dark-gray;
    margin-bottom: 2rem;
}

.scale-form-box {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba($color-gray, 0.1);
    padding: 2rem;

    .MuiBox-root {
        .MuiPaper-root {
            .MuiBox-root {
                .category-title {
                    color: $color-accent;
                    align-self: center;
                }
            }
        }
    }
}
