.sidebar {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    min-height: 64px;

    @media (max-width: 600px) {
      min-height: 56px;
    }
  }

  &__list {
    padding: 8px 0;
  }
}